@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You can find some of booklist in here</p>
    <div class="d-sm-inline-flex align-content-center" style="width: 100%; flex-direction:row; padding-left:150px">
        <img src="~/images/book(1).png" />
    </div>
 </div>
