@{
    ViewData["Title"] = "Our Teams";
}
<h1>@ViewData["Title"]</h1>

<div class="container" style="padding-top:30px">
    <div class="row">
        <div class="col-lg-3 col-6">
            <div class="card-text border flex-column" style="padding-left: 20px; display:flex; padding-top:20px; border-style:solid">
                <h4>Nurul Izzatil Ulum</h4>
                <p>05111940000058</p>
                <p>Institute Technology Sepuluh Nopember</p>
            </div>
        </div>

        <div class="col-lg-3 col-6">
            <div class="card-text border flex-column" style="padding-left: 20px; display: flex; padding-top: 20px; border-style: solid">
               
                <h4>Zahrotul Adilah</h4>
                <p>05111940000139</p>
                <p>Institute Technology Sepuluh Nopember</p>
            </div>
        </div>

        <div class="col-lg-3 col-6" style="padding-bottom:30px">
            <div class="card-text border flex-column" style="padding-left: 20px; display: flex; padding-top: 20px; border-style: solid">
                <h4>Riki Wahyu Nur Diyanto</h4>
                <p>05111940000188</p>
                <p>Institute Technology Sepuluh Nopember</p>
            </div>
        </div>
    </div>
    <p>This Website Is Created to Fullfil Our Assignment Only</p>
</div>

